
body{
    
    font-family: 'Russo One', sans-serif;
    margin: 0;

}
h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}