body{
    
    font-family: 'Russo One', sans-serif;

}
h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
}